.div-balance {
    width: 100%;
    height: 40%;
    background-color: rgb(158, 222, 98);
    border: 3px solid rgba(177, 146, 75, 0.199);
    box-shadow: 0 0 10px rgb(25, 0, 0);
    display: flex;
    margin: 0 auto;
    margin-top: 150px;
    padding: 50px;
    box-sizing: border-box;
}

.balance-inp {
    width: 800px;
    border: 1px solid rgb(51, 35, 155);
    border-radius: 10px;
}